[Unit]
Description=userscript-server
After=local-fs.target do-mounts.service
Requires=local-fs.target do-mounts.service

[Service]
Restart=always
WorkingDirectory=DIR
ExecStart=DIR/start.sh
ExecStop=DIR/stop.sh

[Install]
WantedBy=multi-user.target
